<div class="container">
  <h3>Order Details</h3>
  <p></p>
  <div id="info" *ngIf="data">
    <strong class="sectionTitle">Order Number: {{data.OrderNumber}}</strong>
    <p></p>

    <ngb-tabset>
      <ngb-tab title="Summary" id="summaryTab">
        <ng-template ngbTabContent>
          <div id="summary" class="data">
            <span class="sectionTitle">Order Summary</span>
            <p></p>
            Order Date: &nbsp;{{data.OrderDate | date: "MM/dd/yyyy: h:mma"}}<br/>
            Order Type: &nbsp;{{data.OrderType}}<br/> 
            PO Number: &nbsp;{{data.PurchaseOrderNumber}}<br/>
            Total Cost: &nbsp;{{data.TotalCost | currency}}<br/>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Billing" id="billingTab">
        <ng-template ngbTabContent>
          <div id="billing" class="data">
            <span class="sectionTitle">Billing Information</span>
            <p></p>
            <p>Billing Customer #: &nbsp;{{data.BillToCustomerNumber}}</p>
            <p>
              {{data.BillToCustomerName}}<br/> {{data.BillToAddressLine1}}
              <br/> {{data.BillToCity}}, {{data.BillToState}}, {{data.BillToZip}}
            </p>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Customer" id="customerTab">
        <ng-template ngbTabContent>
          <div id="customer" class="data">
            <span class="sectionTitle">Customer Information</span>
            <p></p>
            {{data.ContactName}}<br/> 
            Email: &nbsp;{{data.ContactEmailAddress}}<br/> 
            Phone: &nbsp;{{data.ContactPhoneNumber}}<br/>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Salesperson" id="salespersonTab">
        <ng-template ngbTabContent>
          <div id="salesperson" class="data">
            <span class="sectionTitle">Salesperson Information</span>
            <p></p>
            Salesperson Id: &nbsp;{{data.SalespersonNumber}}<br/> 
            Salesperson Commission: &nbsp; {{data.SalespersonCommissionAmount | currency}}<br/>            Percent
            Commission: &nbsp; {{data.SalespersonPercentCommission}}<span *ngIf="data.SalespersonPercentCommission">%</span><br/>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="spacer"></div>
  <div id="details" *ngIf="data">
    <ngb-tabset>
      <ngb-tab title="Tax" id="taxTab">
        <ng-template ngbTabContent>
          <div id="details" class="data">
            <span class="sectionTitle">Tax Details</span>
            <p></p>
            Tax Percent: &nbsp;{{data.TaxPercent}}<span *ngIf="data.TaxPercent">%</span><br/> 
            Total Taxable Amount: &nbsp;{{data.TotalTaxableAmount | currency}}<br/> 
            Total Taxable Cost: &nbsp;{{data.TotalTaxableCost | currency}}<br/>
          </div>
        </ng-template>
      </ngb-tab>
      <div style="float:left"></div>
      <ngb-tab title="Shipping" id="shippingTab">
        <ng-template ngbTabContent>
          <div id="details" class="data">
            <span class="sectionTitle">Shipping Details</span>
            <p></p>
            {{data.ShipToName}}<br/> 
            {{data.ShipToAddressLine1}} <br/> 
            {{data.ShipToCity}}, {{data.ShipToState}} {{data.ShipToZip}}<br/>
            <p></p>
            Ship via: &nbsp;{{data.ShipViaCode}}<br/> Shipping Weight: {{data.TotalWeight}}<br/>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Freight" id="freightTab">
        <ng-template ngbTabContent>
          <div id="details" class="data">
            <span class="sectionTitle">Freight Information</span>
            <p></p>
            Freight Amount: &nbsp;{{data.FreightAmount | currency}}<br/> 
            Freight Pay Code: &nbsp;{{freightCode}}<br/>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <p></p>
    <div id="comments" class="data"><span class="sectionTitle">Comments</span>
      <ul class="comments">
        <li *ngFor="let comment of data.CustomerOrderComments; let i = index" id={{i}} class="comment">
          {{comment.Comment}}
        </li>
      </ul>
      <input type="text" id="newComment" #newComment/><button class="btn btn-info" (click)='addComment(newComment.value);newComment.value=""'>Add</button>
    </div>
  </div>
</div>