<div class="container">
    <h2>Order Details</h2>
    <p></p>
    <strong>Order Number:</strong>
    <p></p>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Order Summary</a></li>
        <li><a data-toggle="tab" href="#billing">Billing Information</a></li>
        <li><a data-toggle="tab" href="#customer">Customer Information</a></li>
        <li><a data-toggle="tab" href="#sales">Salesperson Information 3</a></li>
      </ul>
    
    <div class="tab-content">
        <div id="summary" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p></p>
          Order Date: <br/>
          
        </div>
        <div id="billing" class="tab-pane fade">
          <h3>Billing Information</h3>
          <p></p>
          <p>Billing Customer #</p>
          Billing Customer<br/>
          Address 1<br/>
          City, State, Zip<br/>
        </div>
        <div id="customer" class="tab-pane fade">
          <h3>Customer Information</h3>
          <p></p>
          Contact Name<br/>
          Contact Email<br/>
          Contact Phone<br/>
        </div>
        <div id="sales" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#details">Details</a></li>
      <li><a href="#shipping">Shipping Information</a></li>
      <li><a href="#freight">Freight Information</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
          <h3>Order Details</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="shipping" class="tab-pane fade">
          <h3>Shipping Information</h3>
          <p></p>
          <p>Billing Customer #</p>
          Ship To<br/>
          Address 1<br/>
          City, State, Zip<br/>
          <p></p>
          Ship via: <br/>
          Shipping Weight: <br/>
        </div>
        <div id="freight" class="tab-pane fade">
          <h3>Freight Information</h3>
          <p></p>
          
        </div>
    </div>
    
    <div>Comments</div>
    
    </div>
    