<div class="container">
    <h3>Order Details</h3>
    <p></p>
    <strong>Order Number:</strong>
    <p></p>
    <ngb-tabset>
        <ngb-tab title="Order Summary">
          <ng-template ngbTabContent>
              <span class="sectionTitle">Order Summary</span>
              <p></p>
              Order Date: <br/>    
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Billing Information">
          <ng-template ngbTabContent>
              <div id="billing" class="data">
                  <span class="sectionTitle">Billing Information</span>
                  <p></p>
                  <p>Billing Customer #</p>
                  Billing Customer<br/>
                  Address 1<br/>
                  City, State, Zip<br/>
                </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Customer Information">
          <ng-template ngbTabContent>
              <div id="customer" class="data">
                  <span class="sectionTitle">Customer Information</span>
                  <p></p>
                  Contact Name<br/>
                  Contact Email<br/>
                  Contact Phone<br/>
                </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Salesperson Information">
          <ng-template ngbTabContent>
            <div id="salesperson" class="data">
              <span class="sectionTitle">Salesperson Information</span>
              <p></p>
              Salesperson Id:
              Salesperson Commission: 
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <ngb-tabset>
      <ngb-tab title="Details">
        <ng-template ngbTabContent>
          <div id="details" class="data">
            <span class="title">Details</span>

          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Shipping Details">
          <ng-template ngbTabContent>
            <div id="details" class="data">
              <span class="title">Shipping Details</span>
              <p></p>
              <p>Billing Customer #</p>
              Ship To<br/>
              Address 1<br/>
              City, State, Zip<br/>
              <p></p>
              Ship via: <br/>
              Shipping Weight: <br/>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Freight Information">
            <ng-template ngbTabContent>
              <div id="details" class="data">
                <span class="title">Freight Information</span>
                
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

    
    <div>Comments</div>
    
    </div>
    