/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.sectionTitle {font-weight: bold; color:#FAECBD}
.spacer{height:50px}
body{background-color: #447EA6; color: white}
.data {
    text-align: left;
    box-shadow: inset 0 0 10px #000000;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*menu*/
nav {background-color: #000000}
.navbar-brand  {color:#FAECBD}
/*tab styles*/
ngb-tabset {border: none}
.nav-tabs{border-bottom-color: #000000}
.nav-link{color: white}
#summaryTab{background-color: #847E3F}
#billingTab{background-color: #5E95B3}
#customerTab{background-color: #D4A57F}
#salespersonTab{background-color: #B58F65}
#taxTab{background-color: #847E3F}
#shippingTab{background-color: #5E95B3}
#freightTab{background-color: #D4A57F}
.nav-link.active{font-weight: bold;border-color: #000000 !important}
/* comments section styles */
.comment:nth-child(even){background:#659DBD}
.comment{
    text-align: left; 
    margin-right:20px;
}
ul.comments{list-style: none; padding-left: 0}
/*lineItem details*/
.lineItemData{color:#FBEEC1}
